/* flexboxではmarginの相殺が起きない */
html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background: pink;
}

.container {
  /* 直近の子要素のみflex */
  display: flex;
  flex: 1;
}

main {
  background: skyblue;
  flex: 1;
}

nav {
  background: tomato;
  width: 100px;
  order: -1;
}

aside {
  background: orange;
  width: 100px;
}

footer {
  background: silver;
}